  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  * {
    font-family: 'Montserrat', sans-serif;  
    text-decoration: none;
    color: #fff;  
    }
  
  /*Navigation Menu*/
  .nav_bar {
    width: auto;
    background-color: #1D1D1D;
    padding: 30px;
    display: block;
  }
  .nav_bar_left {
    display: block;
    float: left;
  }
  .nav_bar_right {
    float: right;
  }
 
  ul {
    display: inline-block;
    list-style-type:  none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }

  .link {
    display: inline;
    text-decoration: none;
    text-align: justify;
    padding: 14px 12px;
  }

  /*Search Area*/
  .wrapper {
    background: #263238;
  }
  .search {
    width: 40%;
    height: 5%;
    text-align: center;
    font-size: 14px;
    color: #333;
    position: absolute;
    top: 40%;
    left: 30%;
    outline-color: green;

  }
  .search_area {
    position: absolute;
    top: 53%;
    left: 44%;
  }

  .btn {
    background: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    width: 12%;
    cursor: pointer;
    height: 6%;
    border: none;
    text-decoration: none;
    outline-style: none;
    text-align: center;
    font-size: 14px;
  }
